<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Verificado com sucesso </title>
        <link rel="stylesheet" href="css/verificado.css">
    </head>
    <body>

        <div id="conteudo">
            <h2> Sua conta foi verificada com sucesso! </h2>
            <br>
            <br>
            <h4> Esta pagina se fechará automaticamente. </h4>
        </div>

        <script>
            setTimeout(function() {
                window.close();
            }, 3000);
        </script>

    </body>
</html>