html,
body {
    height: 100%;
    width: 100%;
    background: linear-gradient(#e66465, #9198e5);
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

h4{
    font-size: 2rem;
}

#perfil,
#descobrir,
#mensagens {
    overflow: hidden;
}

#chat {
    padding-left: 5%;
    padding-right: 5%;
    overflow-y: scroll;
    background-color: #f0f0f0;
}

.l5 {

    margin-left: -1em !important;
}

.mensagem1 {
    background-color: cornflowerblue;
    max-width: 80%;
    padding: 0.6em;
    margin: 0.5em;
    margin-right: -0.5em;
    border-radius: 20px 20px 2px 20px;
    display: inline-block;
}

.mensagem2 {
    background-color: grey;
    max-width: 80%;
    padding: 0.6em;
    margin: 0.5em;
    margin-left: 2em;
    border-radius: 6px 20px 20px 2px;
    display: inline-block;
}

.imgRedonda {
    max-width: 3em;
    border-radius: 50%;
    height: auto;
    position: relative;
    left: -6%;
    vertical-align: middle;
}

.tabs {
    z-index: 10;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    height: 10%;


    background-color: white;
    box-shadow: 0px -2px 0px #f6b2b5;
}

.tabs .tab {
    height: 100%;
    vertical-align: 50%;
}

.icons {
    padding-top: 8%;
}

.titulo_tab {
    color: white;
    font-weight: 600;
    z-index: 9;
}

.fixed {
    position: sticky;
    top: 0;
}

.col .descobrir_tab {
    padding: 0em;
    top: 0;
}

.descobrir_tab .titulo_tab {
    font-weight: 600;
    width: 100%;
    padding-left: 0.75em;
    margin: 0em;
    padding: 1.52rem;
}

.perfil_tab .titulo_tab {
    color: rgb(238, 110, 115);
    font-weight: 600;
    background-color: white;
    width: 100%;
    padding-left: 0.75em;
    margin: 0em;
    padding: 1.52rem;
    box-shadow: 0px 2px 0px #f6b2b5;
}

.row .col .perfil_tab {
    padding: 0em;
}

.perfil_tab {
    padding: 0;
    top: 0;
    background-color: #f0f0f0;
    overflow: scroll;
}

.perfil_dados {
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 10px #f6b2b5;
    padding-top: 0.8em !important
}

.perfil_dados .pic {
    background-color: #e66465;
    box-shadow: 0px 2px 10px #f6b2b5;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin-top: 7%;
    margin-left: auto;
}

.perfil_dados .pic>img {
    height: 70px;
    width: auto;
    border-radius: 100%;
}

.perfil_dados .nome {
    text-align: left;
    font-weight: 600;
    font-size: 1.4em;
}

.perfil_dados .nome_tx {
    max-width: 17.5ch;
    height: 1.8ch;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 0.2ch;
    display: inline-block;
    white-space: nowrap;
}

.perfil-btns > div > a {
    color: white;
    display: inline-block;
    background-color: #e66465;
    border-radius: 100%;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    bottom: 2%;
    right: 5%;
}

.perfil-btns > div > a >i {
    font-size: 2.8em !important;
    vertical-align: middle;
    margin-bottom: 0.1em;
}

.perfil_dados .borda_perfil {
    width: 100%;
    height: 2px;
    border-radius: 0%;
    box-shadow: 0px 1.5px 0px #f6b2b5;
}

.produtos {
    width: 100%;
    display: inline-block;
}

.produto {
    background-color: white;
    box-shadow: 0px 2px 0px #f6b2b5;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    margin-bottom: 2px;
}

.produto .row {
    margin: 0;
}

.produto .s2{
    padding-top: 16px;
    padding-bottom: 11px;
}

.editar-produto-btn{
    color: #e66465
}

.produto_imagem {
    margin-left: auto;
    margin-right: auto;
    height: 56px;
    width: 56px;
    background-color: rgb(224, 224, 224);
}

.produto_imagem>img {
    height: 56px;
    width: auto;
}

.produto_info {
    font-size: 1em;
    text-align: left;
    height: 56px;
    line-height: 28px;
}

.produto_info .nome_produto {
    max-width: 100%;
    height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.produto_info>i {
    padding: 0;
    font-size: 1em;
}

.no_produtos {
    margin-top: 1.2em;
    display: none;
    width: 100%;
}

.no_produtos .divisoria {
    margin-top: 1.2em;
}

.row .col .editarBtn_perfil {
    margin-top: 0.8em;
}

.editarBtn_perfil>a {
    color: #000000;
}

.combinacoes_tab {
    background-color: #f0f0f0;
    overflow: scroll;
}

.combinacoes_tab .titulo_tab {
    color: rgb(238, 110, 115);
    font-weight: 600;
    background-color: white;
    width: 100%;
    margin: 0em;
    padding: 1.52rem;
    box-shadow: 0px 2px 0px #f6b2b5;
}

.row .col .combinacoes_tab {
    padding: 0em;
}

.combinacoes_msg_card {
    background-color: white;
    box-shadow: 0px 2px 0px #f6b2b5;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 0.6em;
    margin-top: 2px;
}

.combinacoes_msg_card .row {
    margin: 0;
}

.pic_msgs {
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 60px;
    background-color: rgb(224, 224, 224);
    border-radius: 100%;
}

.pic_msgs>img {
    height: 60px;
    width: auto;
    border-radius: 100%;
}

.dados_msgs>i {
    color: #e66465;
    margin-bottom: 0.4ch;
}

.nome_msg {
    font-weight: 450;
    max-width: 80%;
    height: 2.5ch;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 0.2ch;
    display: inline-block;
    white-space: nowrap;
}

.ultima_msg {
    height: 1.5em;
    font-size: 1em;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.msg_nãolida {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #e66465;
    box-shadow: 0px 0px 10px #e66465;
    margin-top: 5px;
}

.action-btns {
    position: absolute;
    bottom: 8%;
    left: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.action-btns>a {
    background-color: white;
    border-radius: 100%;
    display: inline-block;
    border: 2px rgba(170, 170, 170, 0.4);
    border-style: solid;
}

.action-btns .btn-g {
    color: #9198e5;
    height: 90px;
    width: 90px;
    text-align: center;
}

.action-btns .btn-g>i {
    font-size: 70px;
    line-height: 90px;
}

.action-btns .btn-p {
    color: #9198e5;
    height: 60px;
    width: 60px;
    text-align: center;
    transform: translateY(-25%);
}

.action-btns .btn-p>i {
    font-size: 40px;
    line-height: 60px;
}

.btn-rever {
    background: linear-gradient(90deg, #fcbc47, #8d651c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-deslike {
    background: #bbbbbb;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-like {
    background: linear-gradient(#f6b2b5, #e66465);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-superlike {
    background: linear-gradient(-90deg, #5ee665, #e7f8e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.cards {
    position: absolute;
    background-color: #f0f0f0;
    height: 77%;
    width: 90%;
    margin: 5%;
    margin-top: 3%;
    border-radius: 20px;
}

.cards .card-imgs {
    height: 75%;
    padding-bottom: 10%;
    padding-top: 10%;
    padding-right: 5%;
    padding-left: 5%;
}

.cards .card-imgs>div {
    background-color: #9198e5;
    height: 100%;
    width: 100%;
}


.cards .card-dados {
    margin: 0;
    top: 75%;
    height: 25%;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
}

.card-dadosNome {
    font-weight: 700;
    font-size: 1.5em;
}

.cards .dados>img {
    position: absolute;
    height: 15%;
    width: auto;
    left: 5%;
    top: 66%;
    border-radius: 100%;
    box-shadow: 0px 2px 10px #f6b2b5;
}

.cards .dados>i {
    color: #e66465;
    position: absolute;
    height: 15%;
    width: auto;
    top: 69.5%;
    left: 27%;
}

.set_btn {
    top: 1.52rem;
    right: 1.52rem;
    position: absolute;
    color: #e66465;
    background-color: white;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
}

.busca_tab {
    z-index: 11;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #f0f0f0;
    display: none;
}

.divisoria {
    margin-top: 0.2em;
    width: 80%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 0px #f6b2b5;
}

.out-tab .titulo_tab {
    display: inline-flex;
    position: sticky;
    top: 0;
    color: rgb(238, 110, 115);
    font-weight: 600;
    background-color: white;
    width: 100%;
    box-shadow: 0px 2px 0px #f6b2b5;
}

.out-tab .titulo_tab>a {
    color: rgb(238, 110, 115);
    padding-top: 1.52rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.out-tab .titulo_tab>a>i {
    font-size: 34px;
}

.out-tab .titulo_tab>h4 {
    margin: 0em;
    padding: 1.52rem;
    padding-left: 0.1em;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.busca_tab .corpo {
    padding: 0.75em;
}

.titulo_filtro {
    color: rgb(238, 110, 115);
    font-weight: 600;
    margin: 0.3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.produtos-usuario-tab {
    z-index: 11;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    display: none;
    text-align: center;
}

.addProduto_btn {
    color: white;
    display: inline-block;
    background-color: #e66465;
    border-radius: 100%;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    position: absolute;
    bottom: 2%;
    right: 5%;
}

.addProduto_btn>i {
    font-size: 2.8em !important;
    vertical-align: middle;
    margin-bottom: 0.1em;
}

.produto-tab {
    z-index: 12;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    display: none;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
}
.produto-tab .row{
    display: contents;
}

.criar-produto-imgs{
    height: 37%;
    display: flex;
}

.criar-produto-imgs > div{
    background-color: #e0e0e0;
}

.criar-produto-imgs .img-g{
    box-shadow: inset 0px 0px 4px #bbbbbb;
}

.btn-check{
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 0.85rem;
}

.img-g{
    width: 65%;
    height: 100%;
} 

.img-p{
    width: 35%;
    height: 100%;
}

.img-g > input{
    width: auto;
    height: 100%;
}

.img-p > div{
    width: 100%;
    height: 50%;
    box-shadow: inset 0px 0px 4px #bbbbbb;
}

.img-p > div >  input{
    width: auto;
    height: 100%;
}

.vizualizar-produtoUsuario-tab{
    z-index: 12;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: none;
    text-align: center;
}

.produto-view-tab .titulo_tab{
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 600;
    width: 100%;
}

.produto-view-tab .titulo_tab>a {
    color: white;
    padding-top: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.2rem;
}

.produto-view-tab .titulo_tab>a>i {
    font-size: 34px;
    vertical-align: middle;
}

.vizualizar-produtoUsuario-tab .info{
    background-color: white;
    height: fit-content;
}

.vizualizar-produtoUsuario-tab .produto-imagens{
    background: linear-gradient(#e66465, #9198e5);
}

.vizualizar-produtoUsuario-tab .info > div .divisoria {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.tag{
    background: linear-gradient(90deg,#e66465, #9198e5);
    padding: 0.4em;
    color: white;
    font-weight: 800;
    border-radius: 10px;
    line-height: 2.4em;
}

.produto-tab {
    z-index: 12;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    display: none;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
}
.produto-tab .row{
    display: contents;
}

.switch .col {
    margin-bottom: 0.8em;
}

.font18em {
    font-size: 1.8em !important;
    vertical-align: middle;
}

.pd-r0 {
    padding-right: 0 !important;
}

.pd-l0 {
    padding-left: 0 !important;
}

.pd-t0 {
    padding-top: 0 !important;
}

.tx-l {
    text-align: left !important;
}

.tx-r {
    text-align: right !important;
}

.tx-c {
    text-align: center !important;
}

.pd-0 {
    padding: 0 !important;
}

.mg-0 {
    margin: 0;
}

.range-values {
    color: #e66465;
    font-weight: 700;
}

.mg17em {
    margin-bottom: 1.7em;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.up-down {
    display: inline-block;
    animation: up-down 0.3s ease-out forwards;
}

.down-up {
    display: inline-block;
    animation: down-up 0.3s ease-out forwards;
}

/* */
.left-right-ltab {
    display: inline-block;
    animation: left-right-ltab 0.3s ease-out forwards;
}

.right-left-ltab {
    display: inline-block;
    animation: right-left-ltab 0.3s ease-out forwards;
}

/* */
.right-left-rtab {
    display: inline-block;
    animation: right-left-rtab 0.3s ease-out forwards;
}

.left-right-rtab {
    display: inline-block;
    animation: left-right-rtab 0.3s ease-out forwards;
}

/*animações*/

@keyframes up-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes down-up {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }

}

@keyframes left-right-ltab {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes right-left-ltab {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }

}

@keyframes left-right-rtab {

    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes right-left-rtab {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}